*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.card{
    width: 35%;
    margin: auto;
    color: black;
    margin-top:6%;
}
label{
    display: block !important;
    text-align: left;
    font-size: 20px;
}
button{
    background-color: black !important;
    margin-top: 10px;
}
span{
    font-weight: 600;
}
a{
    color: black;
}
a:hover{
    color: rgb(77, 77, 77) !important;
}         
#forgot-form{
    margin-top: 4%;
}
#rememberMe{
    margin-top: 8px;
}