*{
    padding:0;
    margin: 0;
    overflow: hidden;
}
body{
    background-image: url('../IMAGES/109428.jpg');
    background-repeat: no-repeat;
}
.card{
    width: 35%;
    margin: auto;
    color: white;
    margin-top:4%;
}
label{
    display: block !important;
    text-align: left;
    font-size: 20px;
}
button{
    background-color: black;
    margin-top: 10px;
}
#submit{
    margin-top:15px;
}
#rememberMe{
    margin-top: 8px;
}