* {
    padding: 0;
    margin: 0;
    font-family: roboto;
}
.container{
    width: 80%;
    margin: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }
  li {
    float: left;
    text-decoration: none;
  }
  a{
    text-decoration: none;
  }
  .heading1{
    float:left;
    font-size: 24px;
    text-decoration: none;
    margin-left: 12%;
    font-weight: bold;
}
.heading1 a{
    color: rgb(77, 76, 76);
}
.heading2{
    float:right;
    font-size: 10px;
    text-decoration: none;
    position:relative;
    top:18px;
    padding:5px;
    right: 10%;
}
.heading2 a{
    color: gray;
    font-weight:750;
}
.activepage a{
    color: black !important;
}
.imageContainer{
    position: relative;
    width: 100%;
    margin: auto;
}
.image{
    position: absolute;
    width: 100%;
    display: none;
}
.arrows{
    position: absolute;
    background-color: white;
    padding: 20px;
    cursor: pointer !important;
    background-color: transparent;
}
.next{
    right: 0;
}
#imageContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.main-slider{
    width:50%;
}
.main-slider img{
    width: 100%;
    height: 100%;
}
.side-images{
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.static-images{
    width: 100%;
    height: 49%;
}
.static-images img{
    width:100%;
    height: 100%;
}
.search-container{
    width:70%;
    margin: auto;
}
.search{
    display: block;
    margin: auto;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-top: 60px;
    font-size: 30px;
    margin-bottom: 30px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-image: url("../../TASK/search-icon.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 55px;
}
.search:focus{
    outline: none;
}
.main-slider{
    position: relative;
}
.slider-card{
    position:absolute;
    height: 100%;
    width: 100%;
}
.slider-card img{
    height: 100%;
}
.info p{
    width: 80%;
    margin: auto;
    text-align: center;
    color:white;
    background-color: hsla(0,0%,0%,0.5);
}
.info{
    width:100%;
    position: absolute;
    top:35%;
}
#title{
    padding-top: 40px;
    padding-bottom:5px;
    font-size: 30px;
    font-weight: bold;
    color:rgb(228, 225, 225);
}
#des{
    font-size: 12px;
    max-width: 56%;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 12px;
    color: rgb(190, 186, 186);
}
#readmore{
    padding-bottom: 43px;
    font-size: 14px;
    font-weight: 550;
}
#readmore a{
    text-decoration: none;
    color: rgb(228, 225, 225);
}
.search-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.post-card{
    margin-bottom: 30px;
    width: 48%;
    transition: transform 0.3s ease-in-out;
    border: 1px solid rgb(0, 30, 51);
    border-radius: 7px;
    position: relative;
    background-color: rgb(252, 252, 252);
}
.post-card img{
    width: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.search{
    width:70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 35px;
}
.navigation{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom:20px;
}
.navigation_btn{
    font-size: 30px;
    margin: 7px;
    width: 40px;
    word-spacing: 5px;
    animation: fade-in 0.5s ease-in-out forwards;
    border-radius: 4px;
    background-color: #E5E7EB;
}
.navigation_btn:hover{
    background-color: rgb(0, 0, 0);
}
.active{
    font-size: 30px;
    width: 40px;
    word-spacing: 5px;
    animation: fade-in 0.5s ease-in-out forwards;
    color: yellow;
    background-color: rgb(89, 97, 243);
}
.inactive{
    color: rgb(89, 97, 243);
    background-color: #E5E7EB;
}
.arrows{
    position: absolute;
    right:5px;
    color: rgb(0, 204, 255);
    bottom: 20px;
}
.arrows span{
    font-size: 2em; /* increase the font size to make the arrows bigger */
  font-weight: bold; /* make the arrows bold for better visibility */
  line-height: 1em;
}
#posttitle{
    font-size:20px;
    margin-top:10px;
    margin-left: 10px;
    font-weight: bold;
}
#category{
    position: absolute;
    right: 0px;
    transform: translate(-5%,-80%);
    background-color: rgb(89, 97, 243);
    border-radius: 15px;
    width: 17%;
    padding-bottom:7px;
    padding-top: 7px;
    text-align: center;
    color: yellow;
    font-weight: 600;
    font-size: 12px;
}
#comment{
    position: absolute;
    right:4px;
    color: green;
    font-weight: 600;
    margin-top: 10px;
    font-size: 14px;
}
#author{
    position: absolute;
    margin-left: 37%;
    font-size: 13px;
    font-weight: 550;
    margin-top: 10px;
    color: rgba(2, 32, 154, 0.829);
    max-width: 27%;
    text-align:center;

}
#datetime{
    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgba(2, 2, 159, 0.829);
    font-weight: 540;
}
#postdes{
    margin-top: 20px;
    font-size: 15px;
    padding: 10px;
    font-weight: 530;
    color: rgb(2, 2, 116);

}
.dropdown{
    display: none;
}
footer{
    background-color: rgb(89, 97, 243) ;
    color: yellow;
    text-align: center;
    height: 50px;
}
#last{
    padding: 15px;
    font-size: 15px;
}
@media (max-width:819px){
    *{
        padding:0;
        margin: 0;
    }
    .container{
        width:88%;
    }
    #imageContainer{
        display: none;
    }
    .search-container{
        flex-direction: column;
    }
    .post-card{
        width: 100%;
    }
    .mobile-header{
        display: block;
    }
    .heading1{
        font-size: 25px;
        font-weight: 700;
    }
    .heading2{
        display: none;
    }
    .dropbtn{
        float: right;
        margin-top: 10px;
    }
    .dropbtn img{
        width: 20px;
        height: 20px;
    }
    .search-container{
        width: 88%;
    }
    .search{
        width: 88%;
    }
    .dropdown {
        float: right;
        overflow: hidden;
       display: block;
        font-size: 13px;
        color: #E5E7EB ;
        margin-top: 10px;
        position:relative;
      }
      
      .dropdown .dropbtn {
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        position: relative;
        top: 5px;
      }
      .dropdown-content {
        display: none;
        background-color: #f9f9f9;
        min-width: 90px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        margin-top: 24px;
        margin-right: 32vw;
      }
      .dropdown-content a {
        float: none;
        color: black;
        padding: 8px 12px;
        text-decoration: none;
        display: block;
        text-align: center;
        font-size: 10px;
        margin-right: 0;
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .heading1{
        margin-left: 0;
      }
      .search{
        font-size: 20px;
      }
      #category{
        width: 23%;
        font-size: 9px;
      }
      #posttitle{
        font-size: 17px;
      }
      #comment{
        font-size: 9px;
      }
      #author{
        font-size:10px;
        max-width: 100px;
        margin-left: 40%;
      }
      #datetime{
        font-size: 10px;
      }
      #postdes{
        font-size: 12px;
      }
      .navigation_btn{
        font-size: 20px;
        width: 30px;
        word-spacing: 5px;
        animation: fade-in 0.5s ease-in-out forwards;
      }
      footer{
        height: 40px;
      }
      #last{
        padding: 13px;
        font-size: 12px;
    }
}
@media (max-width:1200px) and (min-width:819px)
{
    *{
        padding:0;
        margin: 0;
    }
    .heading1{
        font-size: 20px;
    }
    .heading2{
        font-size: 9px;
        right:4%;
        top:16px;
    }
    #title{
        font-size: 21px;
        padding-top: 25px;
    }
    .info{
        top:23%;
    }
    #readmore{
        padding-bottom: 28px;
        font-size: 12px;
    }
    .arrows{
        bottom: 0;
    }
    .arrows span{
        font-size: 1em;
    }
    #des{
        font-size: 9px;
    }
    .search{
        font-size:24px;
        width:80%;
    }
    .search-container{
        width: 80%;
    }
    #posttitle{
        font-size: 18px;
    }
    #datetime{
        font-size: 11px;
    }
    #author{
        font-size:11px;
        max-width: 100px;
        margin-left: 40%;
    }
    #comment{
        font-size: 9px;
    }
    #postdes{
        font-size: 12px;
    }
    .navigation_btn{
        font-size:20px;
        width:30px;
    }
    #category{
        width: 22%;
        font-size: 10px;
    }
    #last{
        font-size:13px;
    }
}